
/* 
Typography changes 
*/

@media only screen and (max-width: 600px) {
    /* 
    global styles 
    */


    
    /* typography */
    h1 {
        font-size: 2.0736rem;
    }
    
    h2 {
        font-size: 1.728rem;
    }
    
    h3 {
        font-size: 1.44rem;
    }

    p {
        font-size: 1rem;
    }
    
    .small-text {
        font-size: 0.75rem;
        color: var(--bg-color);
    }
    
    .subtitle {
        font-size: 1rem;
        font-weight: 600;
    }

    .btn-text {
        font-size: 1rem;
    }
}

/*
Layout changes
*/

@media only screen and (max-width: 800px) {

    /* 
    global styles 
    */

    main {
        gap: 32px;
    }

    /* repeating sections */

    .section-container {
        padding-left: 16px;
        padding-right: 16px;
    }


    /* ahero section */

    .hero .hero-overlay {
        flex-direction: column;
        justify-content: flex-end;
        gap: 8px;
    }

    .hero .column {
        width: 100%;
        flex: 0;
    }

    .hero .column .small-text {
        text-align: left;
    }

    .column-small {
        order: 2;
    }

    /* 
    about section 
    */

    .about .row {
        flex-direction: column;
        gap: 32px;
    }

    .about .image-column {
        order: 2;
    }


    .contact {
        gap: 16px;
    }

    .resume .small-text {
        text-align: left;
    }

    /* 
    zeug
    */

    .zeug .row {
        flex-direction: column;
    }

    .zeug .row .column .inner-row {
        width: 100%;
    }

    .zeug .column {
        flex-direction: row;
    }
}