/* 
Typography changes 
*/

@media only screen and (max-width: 840px) {
        /* typography */

        h1 {
            font-size: 2.0736rem;
        }
    
        h2 {
            font-size: 1.728rem;
        }
    
        h3 {
            font-size: 1.44rem;
        }
    
        p {
            font-size: 1rem;
        }
    
        .small-text {
            font-size: 0.75rem;
            color: var(--bg-color);
        }
    
        .subtitle {
            font-size: 1rem;
        }
    
        .btn-text {
            font-size: 1rem;
        }
}

@media only screen and (max-width: 650px) {
    /* 
    global styles 
    */

    body {
        scroll-behavior: auto;
    }

    /* 
    global styles 
    */

    main {
        gap: 0px;
        padding: 8px;
    }

    /* repeating components */

    .image-container {
        background-attachment: scroll;
    }

    .image-container2 {
        max-height: 300px;
    }

    .open-image-btn {
        bottom: 16px;
        right: 16px;
    }

    /* repeating sections */

    .section-container {
        padding-left: 16px;
        padding-right: 16px;
    }


    /* hero section */

    .hero {
        height: 50vh;
        max-height: 500px;
        background-size: 270vw;
        background-position: 30% 40%;
    }

    .hero .hero-overlay {
        flex-direction: column;
        justify-content: flex-end;
        gap: 8px;
    }

    .hero .column {
        width: 100%;
        flex: 0;
    }

    .hero .column .small-text {
        text-align: left;
    }

    .column-small {
        order: 2;
    }

    /* 
    about section 
    */

    .about .row {
        flex-direction: column;
        gap: 32px;
    }

    .about .image-column {
        align-items: center;
        order: 2;
        width: 100%;
    }

    .about .image-column .image-container {
        width: 100%;
        height: 400px;
    }

    .image-column .image-container {
        max-width: 100%;
    }

    .about-img-2 img{
        transform: translate(0%, -15%);
    }

    .contact {
        gap: 16px;
    }

    .resume-row {
        gap: 0px !important;
    }

    .resume .small-text {
        text-align: left;
    }

    /* portfolio */

    .portfolio .image-container {
        height: 256px;
    }

    /* 
    zeug
    */

    .zeug .row {
        flex-direction: column;
    }

    .zeug .row .column .inner-row {
        width: 100%;
        height: 100%;
    }

    .zeug .column {
        flex-direction: row;
    }

    .art-img-7 img{
        
    }

    .full-row {
    }
}