/* 
variables
*/

:root {
    --primary-color: #F2506E;
    --secondary-color: #00012B;
    --bg-color: #FFFCE1;
    --link-color: #F1F227;
    --base-font-size: 16px;
    --text-width: 75ch;
  }

/*
reset css
*/

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
global styles 
*/

body {
    background: var(--bg-color);
}

main {
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 32px;
}

/* typography */

h1, h2, h3 {
    font-family: futura-pt, sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: var(--primary-color);
}

h1 {
    font-size: 5.0625rem;
}

h2 {
    font-size: 3.375rem;
}

h3 {
    font-size: 2.25rem;
}

p, .small-text, .subtitle {
    font-family: nimbus-sans, sans-serif;
    color: var(--secondary-color);
    line-height: 1.5;
}

p {
    font-size: 1rem;
    font-weight: 400;
    max-width: var(--text-width);
}

.small-text {
    font-size: 0.75rem;
    color: var(--bg-color);
}

.subtitle {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
    max-width: var(--text-width);
}

a {
    font-family: futura-pt, sans-serif;
    color: var(--link-color);
    text-decoration: none;
}

.btn-text {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--link-color);
}

strong {
    color: #F2506E;
    font-weight: 700;
}

/* 
repeating layout elements 
*/

.section-container {
    border-radius: 32px;
    padding: 64px;
}

.section-intro {
    padding-bottom: 64px;
}

.section-intro h2 {
    padding-bottom: 24px;
}

.image-container {
    position: relative; /* Allows positioning of overlay */
    border-radius: 16px;
    width: 100%;
    min-height: 250px;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-color: var(--primary-color);
}

.portfolio .image-container, .zeug .image-container {
    cursor: pointer;
}

.about-img-1 {
    background-image: url(/assets/about-2.png);
}

.about-img-2 {
    background-image: url(/assets/about-2.png);
}

.open-image-btn {
    position: absolute; /* aPositions overlay in corner */
    bottom: 8px;
    right: 8px;
    padding: 8px;
    color: white;
    font-weight: bold;
  }

/* modals */

/* https://micromodal.vercel.app/#usage */

.modal {
    position: fixed;
    display: none;
    width: 100%;
    height: fit-content;
    min-height: 100%;
    background: var(--secondary-color);
    color: var(--bg-color);
    z-index: 2;
    pointer-events: none;
    padding: 64px;
  }
  
  .modal.is-open {
    display: flex;
    justify-content: center;
    pointer-events: all;
  }

  .modal .subtitle {
    color: var(--bg-color);
    padding-top: 16px;
  }

  .modal-wrapper {
    width: 100%;
    max-width: 1440px;
  }

  .close-modal-btn {
    font-family: nimbus-sans, sans-serif;;
    position: fixed;
    top: 64px;
    right: 64px;
  }

  .modal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  .modal .image-container {
    min-height: 500px;
    background-position: top;
  }

  .fernwe-1 {
    background-image: url(assets/Fernwe-Desktop-Homepage.png);
  }


/* icons */

/* flex grid system */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
  }

  .inner-row {
    height: 50%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
  }


  /* modals */

/* 
section specific 
*/

/* hero section */

.hero {
    height: 50vh;
    background-image: url("");
    background-position: center;
    background-size: contain;
    background-color: var(--secondary-color);
}

.hero-overlay {
    align-items: flex-end;
    height: 100%;
}

.hero h1 {
    text-align: right;
}

/* portfolio section */

.portfolio {
    background-color: var(--primary-color);
}

.portfolio p {
    color: var(--bg-color);
}

.portfolio h2 {
    color: var(--bg-color);
}

.portfolio .subtitle {
    color: var(--bg-color);
    margin-top: -8px;
}

.portfolio .row {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.portfolio .image-container {
    background-color: var(--secondary-color);
    height: 256px;
}

.portfolio .gallery-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.port-img-1 {
    background-image: url("/assets/portfolio-image-1.png");
    background-position: top;
}

/* about section */

.about {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.about .row {
    gap: 32px;
}

.text-column {
    display: flex;
    gap: 24px;
}

.image-column {
    align-items: center;
}

.image-column .image-container {
    max-width: 320px;
}

.resume {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 8px;
    max-width: 75ch;
}

.resume-row {
    gap: 8px;
}

.resume-right {
    text-align: right;
}

.resume hr {
    border-top: 1px solid var(--primary-color);
    margin: 0;
}

.resume .small-text {
    color: var(--secondary-color);
}

/* zeug section */

.zeug .gallery-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%; /* Takes full width of container */
}

.zeug .gallery-container .row, .zeug .gallery-container .column{
    gap: 16px;
}

.zeug .gallery-container {

}

.zeug .image-container {

}

.art-img-1 {
    background-image: url("assets/art-1.jpg");
}



.zeug .row {
    max-height: 528px;
}

/* contact section */

.contact {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    background-color: var(--secondary-color);
}

.contact-h2 {
    font-size: 4rem;
}

.contact p {
    color: var(--bg-color);
    max-width: 100%;
}

.contact-btn {

}

/* footer */

footer {

}

footer p {
    text-align: center;
    max-width: 100%;
}