/* 
variables
*/

:root {
    --primary-color: #F2506E;
    --secondary-color: rgb(0, 1, 43);
    --bg-color: #FFFCE1;
    --bg-color-secondary:#fffce1ef;
    --link-color: #52ff1c;
    --hero-bg-color: rgba(0, 1, 43, 0.3);
    --about-bg-color: rgba(241, 242, 39, 0.1);
    --base-font-size: 16px;
    --text-width: 75ch;
}

/*
reset css
*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 
global styles 
*/

body {
    background: var(--bg-color);
    width: 100vw;
    height: auto;
    overflow: scroll !important;
}

main {
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 32px;
}

/* typography */

h1, h2, h3 {
    font-family: futura-pt, sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: var(--primary-color);
}

h1 {
    font-size: 5.0625rem;
}

h2 {
    font-size: 3.375rem;
}

h3 {
    font-size: 2.25rem;
}

p, .small-text, .subtitle {
    font-family: nimbus-sans, sans-serif;
    color: var(--secondary-color);
    line-height: 1.5;
}

p {
    font-size: 1rem;
    font-weight: 400;
    max-width: var(--text-width);
}

.small-text {
    font-size: 0.75rem;
    color: var(--bg-color);
}

.subtitle {
    display: block;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
    max-width: var(--text-width);
}

a {
    font-family: futura-pt, sans-serif;
    color: var(--bg-color);
    text-decoration: none;
}

.btn-text {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--link-color);
}

strong {
    color: #F2506E;
    font-weight: 700;
}

/* 
repeating layout elements 
*/

.section-container {
    border-radius: 32px;
    padding: 64px;
}

.section-intro {
    padding-bottom: 64px;
}

.section-intro h2 {
    padding-bottom: 16px;
}

.image-container {
    position: relative;
    border-radius: 16px;
    width: 100%;
    min-height: 250px;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--primary-color);

    perspective: 1000px;
}

.image-container2 {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 350px;
    overflow: hidden;
    border-radius: 16px;
}

.image-container2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 16px;
    top: 0;
    left: 0;
    object-position: center center;
}

.image-hover img{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
	transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.image-hover:hover .open-image-btn {
    background-image: url(assets/open-img-hover.svg);
}

.image-hover:hover img{
    -webkit-transform: scale(1.3);
	transform: scale(1.05);
}

.portfolio .image-container2, .zeug .image-container2 {
    cursor: pointer;
}

.portfolio .subtitle {
}

.about .image-container {
    background-color: var(--about-bg-color);
    background-blend-mode: color-dodge;
    /* Choose desired blend mode */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-img-1 img{
    object-position: center 40%;
}

.about-img-2 img{
    object-position: center 15%;
}

.img-right {
        align-items: flex-end;
}

.img-left {
    align-items: flex-start;
}

.open-image-btn {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url(assets/open-img.svg);
    background-repeat: no-repeat;
    /* aPositions overlay in corner */
    bottom: 32px;
    right: 32px;
    color: white;
    font-weight: bold;

    -webkit-transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
	transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.open-image-btn a svg {
    width: 32px;
    height: 32px;
}

/* modals */

/* https://micromodal.vercel.app/#usage */

.modal {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background: var(--secondary-color);
    color: var(--bg-color);
    z-index: 2;
    pointer-events: none;
    padding: 64px;
    overflow-y: auto !important;

    opacity: 0; /* Start with opacity set to 0 */
    -webkit-transition: opacity .3s cubic-bezier(0.47, 0, 0.745, 0.715);
	transition: opacity .3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.modal.is-open {
    pointer-events: all;
    opacity: 1;
}

.modal .subtitle {
    color: var(--bg-color);
    padding-top: 16px;
}

.modal-wrapper {
    width: 100%;
    max-width: 1440px;
    height: fit-content;
}

.modal iframe {
    border: 2px solid var(--bg-color) !important;
    border-radius: 16px;
    width: 100%;
}

.close-modal-btn {
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    position: fixed;
    top: 64px;
    right: 64px;
    width: 32px;
    height: 32px;
    background-image: url(/assets/close-img.svg);
    background-repeat: no-repeat;
    color: var(--secondary-color);
    border-radius: 32px;
    cursor: pointer;

    -webkit-transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
	transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.close-modal-btn:hover {
    background-image: url(/assets/close-img-hover.svg);
}

.modal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.modal .image-container {
    min-height: 500px;
    background-position: top;
}

.modal-container {
    overflow: auto;
}

.fernwe-1 {
    background-image: url(assets/Fernwe-Desktop-Homepage.png);
}


/* icons */

/* flex grid system */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
}

.inner-row {
    height: 50%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
}


/* modals */

/* 
section specific 
*/

/* hero section */

.hero {
    height: 75vh;
    background-image: url("assets/hero-1.png");
    background-blend-mode: color-dodge;
    /* Choose desired blend mode */
    background-color: var(--hero-bg-color);
    background-size: 150%;
    background-position: 100% 40%;
    background-repeat: no-repeat;
}

.hero-overlay {
    align-items: flex-end;
    height: 100%;
}

.hero-overlay .column{
    justify-content: flex-end;
}

.hero h1 {
    text-align: right;
}

.hero .small-text {
    min-width: 30ch;
}

.column-small {
    flex: 0;
    width: fit-content;
}

/* portfolio section */

.portfolio {
    background-color: var(--primary-color);
}

.portfolio p {
    color: var(--bg-color-secondary);
}

.portfolio h2 {
    color: var(--bg-color);
}

.portfolio .subtitle {
    color: var(--bg-color-secondary);
}

.portfolio .row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.portfolio .image-container2 {
    height: 400px;
}

.portfolio .image-container2 img{
    width: 100%;
    height: 100%;
}

.portfolio .gallery-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.gallery-container .subtitle {
    color: var(--bg-color-secondary);
    font-weight: 600;
}

.port-img-1 img{
    object-position: top left;
}

.port-img-2 img{
    object-position: top left;
}   

.port-img-3 img{
    object-position: center;
}

/* about section */

.about {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.about .row {
    gap: 32px;
}

.text-column {
    display: flex;
    gap: 24px;
}

.image-column .image-container {
    max-width: 400px;
}

.resume {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 8px;
    max-width: 75ch;
}

.resume-row {
    gap: 8px;
}

.resume-right {
    text-align: right;
}

.resume hr {
    border-top: 1px solid var(--primary-color);
    margin: 0;
}

.resume .small-text {
    color: var(--secondary-color);
}

/* zeug section */

.zeug .gallery-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    /* Takes full width of container */
}

.zeug .gallery-container .row, .zeug .gallery-container .column {
    gap: 16px;
}

.zeug .gallery-container .column {
    height: 100%;
}

.zeug .row {
    height: 528px;
}

.zeug .full-row {
    height: 528px;
}

.zeug .gallery-container {}

.zeug .image-container2 {
    min-height: auto;
}


.zeug .image-container2 img{
}

.art-img-1 img{

}

.art-img-2 img{

}

.art-img-3 img{

}

.art-img-4 img{

}

.art-img-5 img{

}

.art-img-6 img{
 
}

.art-img-7 img, .art-img-8 img{
}

.zeug .full-row .image-container2{
    max-height: 100%;
}

.zeug-modal {
    height: 100%;
    max-height: 100vh;
    align-items: center;
}

.zeug-modal .modal-wrapper {
    height: 100%;
}

.zeug-modal .modal-container {
    height: 100%;
}

.zeug-modal-content {
    height: 100%;
}

.zeug-modal-content img{
    height: 100%;
    object-fit: contain;
}

/* contact section */

.contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.contact .subtitle a{
    color: var(--link-color);
}

.contact-h2 {
    font-size: 4rem;
}

.contact p {
    color: var(--bg-color);
    max-width: 100%;
}

.contact-btn {
    width: fit-content;
    padding: 8px 16px;
    border-radius: 32px;
    font-weight: 600;

    -webkit-transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
	transition: .3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.contact-btn:hover {
    background-color: var(--link-color);
}

.contact-btn:hover a {
    color: var(--secondary-color);
}

/* footer */

footer {}

footer p {
    text-align: center;
    max-width: 100%;
}